<h2>{{storage.name}}</h2>
<label>
    <input type="radio" name="import-type" value="regular" checked>
    <strong>{{i18n 'regular.label'}}</strong>
    <div class="hint">{{i18n 'regular.hint'}}</div>
</label>
<label>
    <input type="radio" name="import-type" value="strict">
    <strong>{{i18n 'strict.label'}}</strong>
    <div class="hint">{{i18n 'strict.hint'}}</div>
</label>